<header class="fullscreen-element">
  <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
    <%= image_tag('nicky3.jpg', class: "background-image", alt: 'Background') %>

  </div>

  <div class="container align-vertical hero">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
        <h1 style="color:#3f51b5;" >Productos de Calidad</h1>
        <p style="color:#3f51b5;" >Nuestro producto es 100% de calidad, siempre a la vanguardia de la moda.</p>
        <div class="button-group">
          <li  class="btn btn-default">Muchos Estilos</li>

        </div>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</header>

<div class="action-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <%= link_to root_path do %>
          <span data-icon="v" class="icon"></span> <span class="text">Entrega Inmediad</span>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= link_to  root_path do %>
          <span data-icon="/" class="icon"></span> <span class="text">Variedad y Estilos</span>
        <% end %>
      </div>
      <div class="col-sm-4">
        <%= link_to root_path do %>
          <span data-icon="7" class="icon"></span> <span class="text">Diseños Imnovadores</span>
        <% end %>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<section>
  <div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
    <%= image_tag('bg-10.jpg', class: "background-image", alt: 'Background') %>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-left">
        <h2 style="color:#3f51b5;" class="page-title">Estilos Juveniles</h2>
        <p style="color: #3f51b5;" class="description">Contamos con los estilos que predominan la epoca. No tardes en adquirir el tuyo ya!</p>
        <a href="#" class="btn btn-primary">Adquierelos ya</a>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
<br>
<h2 class="page-title text-center">Artículos</h2>
<%= render 'shared/list' %>
<section>
  <div class="background-image-holder on-page overlay">
    <%= image_tag('nicky2.jpg', class: "background-image", alt: 'Background') %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-7 text-right">
        <h2 style="color: #3f51b5;" class="page-title">Pensamos en tí!<span class="accent-color">.</span></h2>
        <p style="color: #3f51b5;" class="description">La diferencia entre estilo y moda esta en la calidad.</p>
        <a href="#" class="btn btn-primary">Los mejores estilos </a>
      </div>
    </div><!--end of row-->
  </div><!--end of container-->
</section>
