<!DOCTYPE html>
<html>
  <head>
    <title>NickyStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <!-- Off screen navigation -->
      <div id="sidr">
      <ul>
        <li><%= link_to root_path, class: "side-logo" do %>
          NickyStore
          <span class="logo-dot accent-bg"></span>
        <% end %>
        </li>
        <li class="active">
          <%= link_to 'Store', root_path %>
        </li>
        <li class="divider"><span></span></li>
        <li>
          <%= link_to 'Privacy', root_path %>
        </li>
        <li>
          <%= link_to 'Term Y Conditions', root_path %>
        </li>

      </ul>

      <div class="side-social">
        <a href="https://www.facebook.com/khole.barh.5"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </div>
    </div>

    <div class="nav-container">
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navigation" aria-expanded="false">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a>
              <%= link_to root_path, class: "navbar-brand" do %>
                Nicky<span class="logo-dot accent-bg"></span>
              <% end %>
            </a>

              <div class="bars">
                    <span class="bar top"></span>
                    <span class="bar middle"></span>
                    <span class="bar bottom"></span>
                </div>
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="collapse-navigation">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to 'Home', root_path, class: "color" %>
              </li>
              <li>
                <%= link_to 'Store', root_path %>
              </li>
              <li>
                <%= link_to 'About', root_path %>
              </li>
              <li>
                <%= link_to  root_path do %>
                  <i class="fa fa-paper-plane"></i>Contact
                <% end %>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#sidr" class="side-menu-opener">
                  <div class="bars">
                        <span class="bar top"></span>
                        <span class="bar middle"></span>
                        <span class="bar bottom"></span>
                    </div>
                </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </div>

    <div class="main-container">
      <header class="fullscreen-element">
        <div class="background-image-holder parallax-background overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('bg-9.jpg', class: "background-image", alt: 'Background') %>

        </div>

        <div class="container align-vertical hero">
          <div class="row">
            <div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7 text-left">
              <h1 style="color: rgb(52, 152, 219);">Productos de Calidad</h1>
              <p style="color: rgb(52, 152, 219);">Nuestro producto es 100% de calidad, siempre a la vanguardia de la moda.</p>
              <div class="button-group">
                <li  class="btn btn-default">Muchos Estilos</li>
                <li class="btn btn-primary">Caliad</li>
              </div>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </header>

      <div class="action-bar">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <%= link_to root_path do %>
                <span data-icon="v" class="icon"></span> <span class="text">Entrega Inmediad</span>
              <% end %>
            </div>
            <div class="col-sm-4">
              <%= link_to  root_path do %>
                <span data-icon="/" class="icon"></span> <span class="text">Variedad y Estilos</span>
              <% end %>
            </div>
            <div class="col-sm-4">
              <%= link_to root_path do %>
                <span data-icon="7" class="icon"></span> <span class="text">Diseños Imnovadores</span>
              <% end %>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>

      <section>
        <div class="background-image-holder overlay" data-stellar-background-ratio="0.9">
          <%= image_tag('bg-10.jpg', class: "background-image", alt: 'Background') %>

        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 text-left">
              <h2 style="color: rgb(52, 152, 219);" class="page-title">Estilos Juveniles</h2>
              <p style="color: rgb(52, 152, 219);" class="description">Contamos con los estilos que predominan la epoca. No tardes en adquirir el tuyo ya!</p>
              <a href="#" class="btn btn-primary">Adquierelos ya</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

      <section class="products-grid">
        <div class="container">
          <div class="row products-container">
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/3.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Jean Colombiano</h3>
                      <%= link_to root_path, class: "btn btn-primary" do %>
                        <i class="fa fashopping-cart"></i> Entrega Inmediata
                      <% end %>
                    <p class="product-price">Lps. 950</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/4.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Conjunto</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Uyy que linda
                    <% end %>
                    <p class="product-price">Lps.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/5.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Conjunto</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Uyyy linda
                    <% end %>
                    <p class="product-price">Lps.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/7.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Vestido de Flores</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> SUper linda
                    <% end %>
                    <p class="product-price">Lps.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/2.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Cartera NIKKY SYXX  </h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Aquierela ya
                    <% end %>
                    <p class="product-price">Lps. 1,500</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/4.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Traje</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> buenota
                    <% end %>
                    <p class="product-price">Lps.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/3.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Jean Colombiano</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Adquierelo ya
                    <% end %>
                    <p class="product-price">Lps.950</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/5.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Completo</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Bella
                    <% end %>
                    <p class="product-price">Lps.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 product">
              <div class="thumbnail" style="background-image: url('/assets/2.jpg');">
                <div class="product-details text-center">
                  <div class="align-vertical">
                    <h3>Cartera</h3>
                    <%= link_to root_path, class: "btn btn-primary" do %>
                      <i class="fa fashopping-cart"></i> Aquierela ya!
                    <% end %>
                    <p class="product-price">Lps. 1,500</p>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>

      <section>
        <div class="background-image-holder on-page overlay">
          <%= image_tag('nicky2.jpg', class: "background-image", alt: 'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-sm-offset-7 text-right">
              <h2 style="color: rgb(52, 152, 219);" class="page-title">Pensamos en tí!<span class="accent-color">.</span></h2>
              <p style="color: rgb(52, 152, 219);" class="description">La diferencia entre estilo y moda esta en la calidad.</p>
              <a href="#" class="btn btn-primary">Los mejores estilos </a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

      <section class="newsletter accent-bg">
        <div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
          <%= image_tag('bg-4.jpg', class: "background-image", alt: 'Background') %>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-5 text-left">
              <h2 class="page-title">Listos para Complacerte!</h2>
              <p>La moda no es algo que solo existe en los vestidos. La moda esta en el cielo, en la calle, la moda tiene que ver con ideas, con la forma en que vivimos, con lo que ocurre.</p>
            </div>

            <div class="col-md-3">
              <a href="#" class="btn btn-primary">Apresurate</a>
            </div>
          </div><!--end of row-->
        </div><!--end of container-->
      </section>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <ul class="footer-navigation">
                <li class="active">
                  <%= link_to 'Home', root_path %>
                </li>
                <li>
                  <%= link_to 'Store', root_path %>
                </li>
                <li>
                  <%= link_to 'About', root_path %>
                </li>
                <li>
                  <%= link_to  root_path do %>
                    <i class="fa fa-paper-plane"></i>Contact
                  <% end %>
                </li>
              </ul>
              <ul class="accepted-payments">
                <li>
                  <%= link_to root_path do %>
                    <i class="fa fa-cc-amex"></i>
                  <% end %>

                </li>
                <li>
                  <%= link_to root_path do %>
                    <i class="fa fa-cc-visa"></i>
                  <% end %>

                </li>
                <li>
                  <%= link_to root_path do %>
                    <i class="fa fa-paypal"></i>

                  <% end %>
                </li>
                <li>
                  <%= link_to root_path do %>
                    <i class="fa fa-cc-stripe"></i>
                  <% end %>
                </li>
                <li>
                  <%= link_to  root_path do %>
                    <i class="fa fa-cc-mastercard"></i>
                  <% end %>
                </li>
              </ul>
              <div class="copyright">
                <p>Copyright © 2017</p>
              </div>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </footer>
    </div><!-- /.main-container -->
    <%= yield %>
  </body>
</html>
